*{
    box-sizing: border-box;
}

body {
    font-family: 'Days', sans-serif;
    background-color: #83a958;
    color: #1a320f;
    margin: 0;
}

h2{
    text-indent: 20px;
}

.common-header__heading{
    font-size: 1,5em;
    color: #1a320f;
    text-align: center;
}

.common-header {
    background-color: #a3c185;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 10;
    border: 2px solid #83a958;
    border-radius: 10px; 
}



.section-links {
    padding: 10px;
    width: 25%;
    position: fixed;
    top: 4vh;
    z-index: 2;
    background-color: #83a958;
    border: 2px solid #a3c185;
    border-radius: 10px;
   }

.common-section {
    width: 50%;
    position: relative;
    top: 4vh;
    left: 25vw;
    z-index: 7;
    background-color: #a3c185;
    border: 2px solid #a3c185;
    border-radius: 10px;
}

.section-contents {
    padding: 10px;
    width: 25%;
    position: fixed;
    left: 75vw;
    top: 4vh;
    z-index: 2;
    background-color: #83a958;
    border: 2px solid #a3c185;
    border-radius: 10px;
   }

.common-section__heading {
    position: sticky;
    top: 6vh;
    z-index: 8;
}

.common-section__content {
    text-indent: 70px;
    font-size: 1em;
}

ul {
    list-style-type: none;
    font-family: 'A1011Helvetika-CoNdensedItalic', sans-serif;
    font-size: 20px;
}